﻿@model WKMVCBoilerPlate.Web.Models.Account.RegisterResultViewModel
@{
    ViewBag.Title = "Successfully registered";
}
<h4>Successfully registered</h4>
<ul>
    <li><span class="text-muted">@L("NameSurname"):</span> @Model.NameAndSurname</li>
    <li><span class="text-muted">@L("TenancyName"):</span> @Model.TenancyName</li>
    <li><span class="text-muted">@L("UserName"):</span> @Model.UserName</li>
    <li><span class="text-muted">@L("EmailAddress"):</span> @Model.EmailAddress</li>
</ul>
<div>
    @if (!Model.IsActive)
    {
        <div class="alert alert-warning" role="alert">
            @L("WaitingForActivationMessage")
        </div>
    }
</div>